body {
    background: $bg;
    font: 150% "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

.wrapper {
    max-width: $wrapper;
    margin: 0 auto;
}

h1 {
    font-size: 2.8em;
    line-height: 1.6em;
    @media (max-width: $wrapper) {
        font-size: 1.6em;
        line-height: 1em;
    }
}
